.container{
    height: calc(100vh - 100px);
    background-color: #fa3a3a;
    /* background-color: #be2600; */
    overflow: hidden;
}
.arrowContainer{
    position: absolute;
    width: 10%;
    height: 20%;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    z-index: 2;
}
.wrapper{
    width: 300vw;
    height: 100%;
    display: flex;
    transition: all 1.5s ease-out;

}
.imgContainer{
    width: 100vw;
    height: 100%;
    position: relative;  
}
